In [2]:
import pandas as pd
from datetime import datetime
# Đọc file Parquet
df = pd.read_parquet('/home/tung/Downloads/DE_K3_M2/nyc_taxi_data/green_tripdata_2016-05.parquet', engine='pyarrow')

# Hiển thị dữ liệu
print(df.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2016-05-01 00:13:39   2016-05-01 00:24:17                  N
1         2  2016-05-01 00:27:53   2016-05-01 00:32:22                  N
2         2  2016-05-01 00:39:08   2016-05-01 01:01:39                  N
3         2  2016-05-01 00:15:37   2016-05-01 00:18:41                  N
4         2  2016-05-01 00:03:01   2016-05-01 00:03:26                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0           1            80            36                1           2.17
1           1            36            37                1           0.88
2           1            36           188                1           5.13
3           1            61           225                1           0.74
4           1           189           189                1           0.11

   fare_amount  extra  mta_tax  tip_amount  tolls_amount ehail_fee  \
0          9.5    0.5      0.5        3.24           0.0      None
1          5.5    0.5      0.5        1.36           0.0      None
2         19.5    0.5      0.5        4.16           0.0      None
3          4.5    0.5      0.5        0.00           0.0      None
4          2.5    0.5      0.5        0.00           0.0      None

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         14.04             1        1.0
1                    0.3          8.16             1        1.0
2                    0.3         24.96             1        1.0
3                    0.3          5.80             2        1.0
4                    0.3          3.80             2        1.0

  congestion_surcharge
0                 None
1                 None
2                 None
3                 None
4                 None

In [3]:
df.columns[[0]]

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [4]:
df.describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
count,1.536979e+06,1536979,1536979,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536979e+06,1.536977e+06
mean,1.790362e+00,2016-05-16 08:52:13.123769,2016-05-16 09:15:57.315916,1.091034e+00,1.160810e+02,1.301858e+02,1.358413e+00,2.903987e+00,1.250125e+01,3.451412e-01,4.867207e-01,1.322485e+00,1.211842e-01,2.920480e-01,1.506873e+01,1.505453e+00,1.021251e+00
min,1.000000e+00,2016-05-01 00:00:00,2016-05-01 00:00:00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-3.500000e+02,-4.500000e+00,-5.000000e-01,-1.450000e+01,-1.600000e+01,-3.000000e-01,-3.500000e+02,1.000000e+00,1.000000e+00
25%,2.000000e+00,2016-05-08 11:19:16.500000,2016-05-08 11:45:54,1.000000e+00,4.900000e+01,6.100000e+01,1.000000e+00,1.070000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.160000e+00,1.000000e+00,1.000000e+00
50%,2.000000e+00,2016-05-15 22:26:24,2016-05-15 22:52:20,1.000000e+00,9.300000e+01,1.290000e+02,1.000000e+00,1.910000e+00,9.500000e+00,5.000000e-01,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.176000e+01,1.000000e+00,1.000000e+00
75%,2.000000e+00,2016-05-23 17:26:02,2016-05-23 17:46:56,1.000000e+00,1.810000e+02,1.940000e+02,1.000000e+00,3.640000e+00,1.550000e+01,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.830000e+01,2.000000e+00,1.000000e+00
max,2.000000e+00,2016-05-31 23:59:51,2016-06-01 23:28:05,9.900000e+01,2.650000e+02,2.650000e+02,9.000000e+00,1.568900e+02,3.498500e+03,4.500000e+00,5.000000e-01,9.000000e+02,1.184000e+02,3.000000e-01,3.499300e+03,5.000000e+00,2.000000e+00
std,4.070503e-01,NaN,NaN,5.953658e-01,7.759962e+01,7.753522e+01,1.022765e+00,2.995705e+00,1.063782e+01,3.785428e-01,8.575749e-02,2.823146e+00,9.028512e-01,5.144894e-02,1.213058e+01,5.250901e-01,1.442194e-01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1536979 entries, 0 to 1536978
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1536979 non-null  int64
 1   lpep_pickup_datetime   1536979 non-null  datetime64[us]
 2   lpep_dropoff_datetime  1536979 non-null  datetime64[us]
 3   store_and_fwd_flag     1536979 non-null  object
 4   RatecodeID             1536979 non-null  int64
 5   PULocationID           1536979 non-null  int64
 6   DOLocationID           1536979 non-null  int64
 7   passenger_count        1536979 non-null  int64
 8   trip_distance          1536979 non-null  float64
 9   fare_amount            1536979 non-null  float64
 10  extra                  1536979 non-null  float64
 11  mta_tax                1536979 non-null  float64
 12  tip_amount             1536979 non-null  float64
 13  tolls_amount           1536979 non-null  float64
 14  ehail_fee              0 non-null        object
 15  improvement_surcharge  1536979 non-null  float64
 16  total_amount           1536979 non-null  float64
 17  payment_type           1536979 non-null  int64
 18  trip_type              1536977 non-null  float64
 19  congestion_surcharge   0 non-null        object
dtypes: datetime64[us](2), float64(9), int64(6), object(3)
memory usage: 234.5+ MB

In [6]:
row = df.sample()
##convert to list
feature_values = row.values.tolist()[0]

feature_values[1] = str(feature_values[1])
feature_values[2] = str(feature_values[2])
created_time = str(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
data = [created_time] + feature_values

In [14]:
import pandas as pd
import os
from datetime import datetime
# Loop through Parquet files in nyc_taxi_data directory
for filename in os.listdir("/home/tung/Downloads/DE_K3_M2/nyc_taxi_data")[2:3]:
    if filename.endswith(".parquet"):
        filepath = os.path.join("/home/tung/Downloads/DE_K3_M2/nyc_taxi_data", filename)

        # Read Parquet data
        data = pd.read_parquet(filepath)
        # print(table)
        # print(data)
        current_datetime = current_datetime = datetime.now()
        data.insert(loc=0, column='created', value=current_datetime)
        print(data)
        print(filename)

                          created  VendorID tpep_pickup_datetime  \
0      2024-09-27 00:41:57.815466         1  2020-04-01 00:41:22
1      2024-09-27 00:41:57.815466         1  2020-04-01 00:56:00
2      2024-09-27 00:41:57.815466         1  2020-04-01 00:00:26
3      2024-09-27 00:41:57.815466         1  2020-04-01 00:24:38
4      2024-09-27 00:41:57.815466         2  2020-04-01 00:13:24
...                           ...       ...                  ...
238068 2024-09-27 00:41:57.815466         2  2020-04-30 23:30:00
238069 2024-09-27 00:41:57.815466         2  2020-04-30 23:44:00
238070 2024-09-27 00:41:57.815466         2  2020-04-30 23:25:00
238071 2024-09-27 00:41:57.815466         2  2020-04-30 23:50:26
238072 2024-09-27 00:41:57.815466         2  2020-04-30 23:16:47

       tpep_dropoff_datetime  passenger_count  trip_distance  RatecodeID  \
0        2020-04-01 01:01:53              1.0           1.20         1.0
1        2020-04-01 01:09:25              1.0           3.40         1.0
2        2020-04-01 00:09:25              1.0           2.80         1.0
3        2020-04-01 00:34:38              0.0           2.60         1.0
4        2020-04-01 00:18:26              1.0           1.44         1.0
...                      ...              ...            ...         ...
238068   2020-04-30 23:39:00              NaN           2.02         NaN
238069   2020-04-30 23:54:00              NaN           3.30         NaN
238070   2020-04-30 23:38:00              NaN           6.40         NaN
238071   2020-05-01 00:28:21              NaN          25.70         NaN
238072   2020-04-30 23:31:08              NaN           5.63         NaN

       store_and_fwd_flag  PULocationID  DOLocationID  payment_type  \
0                       N            41            24             2
1                       N            95           197             1
2                       N           237           137             1
3                       N            68           142             1
4                       Y           263            74             1
...                   ...           ...           ...           ...
238068               None           238            75             0
238069               None           263           230             0
238070               None           137            42             0
238071               None            29            69             0
238072               None            14            29             0

        fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              5.50    0.5      0.5        0.00          0.00
1             12.50    0.5      0.5        2.75          0.00
2             10.00    3.0      0.5        1.00          0.00
3             10.00    3.0      0.5        1.00          0.00
4              6.50    0.5      0.5        3.00          0.00
...             ...    ...      ...         ...           ...
238068         8.46    0.0      0.5        0.00          0.00
238069        13.46    0.0      0.5        0.00          0.00
238070        22.05    0.0      0.5        0.00          0.00
238071        68.16    0.0      0.5        0.00          6.12
238072        17.48    0.0      0.0        3.56          0.00

        improvement_surcharge  total_amount  congestion_surcharge airport_fee
0                         0.3          6.80                   0.0        None
1                         0.3         16.55                   0.0        None
2                         0.3         14.80                   2.5        None
3                         0.3         14.80                   2.5        None
4                         0.3         13.30                   2.5        None
...                       ...           ...                   ...         ...
238068                    0.3         11.76                   NaN        None
238069                    0.3         16.76                   NaN        None
238070                    0.3         25.35                   NaN        None
238071                    0.3         77.58                   NaN        None
238072                    0.3         21.34                   NaN        None

[238073 rows x 20 columns]
yellow_tripdata_2020-04.parquet

In [7]:
data = data.fillna('NULL')
data

,created,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,0.00,1,N,25,25,3,3.5,0.5,0.5,0.00,0.00,0.3,4.80,NULL,NULL
1,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,5.80,1,N,238,243,2,17.0,0.5,0.5,0.00,0.00,0.3,18.30,NULL,NULL
2,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,7.10,1,N,243,263,1,22.0,0.5,0.5,5.80,0.00,0.3,29.10,NULL,NULL
3,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,11.80,1,N,263,257,1,33.0,0.5,0.5,5.00,5.33,0.3,44.63,NULL,NULL
4,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,1.90,1,N,263,41,1,8.5,0.5,0.5,0.00,0.00,0.3,9.80,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12442389,2024-09-27 00:26:36.051062,2,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,2,1.43,1,N,211,13,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80,NULL,NULL
12442390,2024-09-27 00:26:36.051062,2,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,2,1.61,1,N,125,234,1,8.5,0.5,0.5,2.45,0.00,0.3,12.25,NULL,NULL
12442391,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,2,5.80,1,N,239,231,2,20.5,0.5,0.5,0.00,0.00,0.3,21.80,NULL,NULL
12442392,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,1.40,1,N,158,234,1,9.0,0.5,0.5,1.50,0.00,0.3,11.80,NULL,NULL
12442393,2024-09-27 00:26:36.051062,1,<bound method Series.to_string of 0 2...,0 2015-02-01 00:09:21\n1 201...,1,1.60,1,N,234,170,1,8.5,0.5,0.5,1.96,0.00,0.3,11.76,NULL,NULL

In [15]:
data.columns

Index(['created', 'VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12442394 entries, 0 to 12442393
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   created                datetime64[us]
 1   VendorID               int64
 2   tpep_pickup_datetime   object
 3   tpep_dropoff_datetime  object
 4   passenger_count        int64
 5   trip_distance          float64
 6   RatecodeID             int64
 7   store_and_fwd_flag     object
 8   PULocationID           int64
 9   DOLocationID           int64
 10  payment_type           int64
 11  fare_amount            float64
 12  extra                  float64
 13  mta_tax                float64
 14  tip_amount             float64
 15  tolls_amount           float64
 16  improvement_surcharge  float64
 17  total_amount           float64
 18  congestion_surcharge   object
 19  airport_fee            object
dtypes: datetime64[us](1), float64(8), int64(6), object(5)
memory usage: 1.9+ GB

In [11]:
len(data.columns)

20

In [9]:
import os
os.listdir("/home/tung/Downloads/DE_K3_M2/nyc_taxi_data")

['yellow_tripdata_2015-02.parquet',
 'yellow_tripdata_2024-05.parquet',
 'yellow_tripdata_2020-04.parquet',
 'green_tripdata_2016-11.parquet',
 'green_tripdata_2018-04.parquet',
 'green_tripdata_2021-04.parquet',
 'yellow_tripdata_2022-04.parquet',
 'yellow_tripdata_2016-10.parquet',
 'yellow_tripdata_2017-08.parquet',
 'yellow_tripdata_2016-12.parquet',
 'green_tripdata_2017-10.parquet',
 'green_tripdata_2018-08.parquet',
 'yellow_tripdata_2022-10.parquet',
 'green_tripdata_2017-03.parquet',
 'green_tripdata_2023-06.parquet',
 'yellow_tripdata_2015-08.parquet',
 'yellow_tripdata_2017-05.parquet',
 'green_tripdata_2016-12.parquet',
 'green_tripdata_2018-09.parquet',
 'green_tripdata_2017-07.parquet',
 'yellow_tripdata_2018-01.parquet',
 'yellow_tripdata_2021-04.parquet',
 'green_tripdata_2020-01.parquet',
 'green_tripdata_2020-04.parquet',
 'green_tripdata_2018-02.parquet',
 'green_tripdata_2023-01.parquet',
 'green_tripdata_2017-09.parquet',
 'green_tripdata_2021-07.parquet',
 'yellow_tripdata_2024-04.parquet',
 'green_tripdata_2019-09.parquet',
 'yellow_tripdata_2022-01.parquet',
 'green_tripdata_2023-05.parquet',
 'yellow_tripdata_2023-08.parquet',
 'green_tripdata_2018-07.parquet',
 'green_tripdata_2021-11.parquet',
 'green_tripdata_2017-05.parquet',
 'green_tripdata_2023-02.parquet',
 'yellow_tripdata_2017-06.parquet',
 'green_tripdata_2016-03.parquet',
 'yellow_tripdata_2021-01.parquet',
 'yellow_tripdata_2016-02.parquet',
 'green_tripdata_2015-11.parquet',
 'yellow_tripdata_2015-05.parquet',
 'green_tripdata_2020-07.parquet',
 'green_tripdata_2021-02.parquet',
 'yellow_tripdata_2018-09.parquet',
 'yellow_tripdata_2017-07.parquet',
 'green_tripdata_2023-07.parquet',
 'yellow_tripdata_2024-03.parquet',
 'yellow_tripdata_2018-06.parquet',
 'green_tripdata_2017-11.parquet',
 'yellow_tripdata_2016-03.parquet',
 'green_tripdata_2017-04.parquet',
 'green_tripdata_2022-04.parquet',
 'green_tripdata_2017-08.parquet',
 'yellow_tripdata_2016-01.parquet',
 'green_tripdata_2016-08.parquet',
 'green_tripdata_2022-12.parquet',
 'yellow_tripdata_2019-12.parquet',
 'yellow_tripdata_2023-02.parquet',
 'green_tripdata_2024-05.parquet',
 'yellow_tripdata_2015-01.parquet',
 'green_tripdata_2022-01.parquet',
 'green_tripdata_2024-03.parquet',
 'green_tripdata_2024-06.parquet',
 'green_tripdata_2021-08.parquet',
 'yellow_tripdata_2019-06.parquet',
 'green_tripdata_2022-05.parquet',
 'green_tripdata_2022-06.parquet',
 'yellow_tripdata_2019-09.parquet',
 'yellow_tripdata_2021-09.parquet',
 'yellow_tripdata_2020-10.parquet',
 'yellow_tripdata_2023-09.parquet',
 'green_tripdata_2023-09.parquet',
 'yellow_tripdata_2016-11.parquet',
 'yellow_tripdata_2022-08.parquet',
 'green_tripdata_2015-05.parquet',
 'yellow_tripdata_2019-04.parquet',
 'green_tripdata_2019-08.parquet',
 'yellow_tripdata_2016-06.parquet',
 'yellow_tripdata_2016-08.parquet',
 'green_tripdata_2015-09.parquet',
 'green_tripdata_2016-09.parquet',
 'yellow_tripdata_2018-03.parquet',
 'yellow_tripdata_2019-01.parquet',
 'yellow_tripdata_2020-11.parquet',
 'green_tripdata_2019-07.parquet',
 'yellow_tripdata_2020-01.parquet',
 'green_tripdata_2018-01.parquet',
 'yellow_tripdata_2017-04.parquet',
 'green_tripdata_2016-02.parquet',
 'yellow_tripdata_2021-11.parquet',
 'yellow_tripdata_2022-12.parquet',
 'yellow_tripdata_2022-02.parquet',
 'green_tripdata_2016-07.parquet',
 'yellow_tripdata_2019-07.parquet',
 'yellow_tripdata_2023-10.parquet',
 'green_tripdata_2020-05.parquet',
 'yellow_tripdata_2020-07.parquet',
 'green_tripdata_2016-05.parquet',
 'green_tripdata_2022-09.parquet',
 'green_tripdata_2024-07.parquet',
 'green_tripdata_2015-10.parquet',
 'yellow_tripdata_2016-05.parquet',
 'yellow_tripdata_2015-10.parquet',
 'green_tripdata_2017-01.parquet',
 'green_tripdata_2019-12.parquet',
 'yellow_tripdata_2023-06.parquet',
 'yellow_tripdata_2023-07.parquet',
 'yellow_tripdata_2021-07.parquet',
 'yellow_tripdata_2017-01.parquet',
 'green_tripdata_2018-05.parquet',
 'yellow_tripdata_2020-05.parquet',
 'green_tripdata_2022-10.parquet',
 'yellow_tripdata_2023-05.parquet',
 'green_tripdata_2016-04.parquet',
 'green_tripdata_2021-05.parquet',
 'green_tripdata_2016-10.parquet',
 'green_tripdata_2019-05.parquet',
 'green_tripdata_2015-07.parquet',
 'yellow_tripdata_2022-07.parquet',
 'yellow_tripdata_2022-05.parquet',
 'yellow_tripdata_2019-03.parquet',
 'green_tripdata_2022-03.parquet',
 'green_tripdata_2016-06.parquet',
 'green_tripdata_2020-06.parquet',
 'green_tripdata_2022-02.parquet',
 'yellow_tripdata_2020-02.parquet',
 'green_tripdata_2020-03.parquet',
 'green_tripdata_2019-06.parquet',
 'yellow_tripdata_2017-11.parquet',
 'green_tripdata_2023-11.parquet',
 'yellow_tripdata_2022-06.parquet',
 'green_tripdata_2019-03.parquet',
 'green_tripdata_2022-07.parquet',
 'green_tripdata_2015-06.parquet',
 'yellow_tripdata_2023-01.parquet',
 'green_tripdata_2021-03.parquet',
 'yellow_tripdata_2018-10.parquet',
 'yellow_tripdata_2024-07.parquet',
 'green_tripdata_2019-10.parquet',
 'yellow_tripdata_2015-11.parquet',
 'green_tripdata_2021-01.parquet',
 'yellow_tripdata_2018-07.parquet',
 'yellow_tripdata_2019-10.parquet',
 'yellow_tripdata_2018-08.parquet',
 'yellow_tripdata_2015-07.parquet',
 'green_tripdata_2020-08.parquet',
 'green_tripdata_2020-12.parquet',
 'green_tripdata_2018-10.parquet',
 'green_tripdata_2023-12.parquet',
 'yellow_tripdata_2019-02.parquet',
 'green_tripdata_2021-09.parquet',
 'green_tripdata_2023-04.parquet',
 'yellow_tripdata_2023-03.parquet',
 'yellow_tripdata_2021-12.parquet',
 'green_tripdata_2019-02.parquet',
 'green_tripdata_2019-01.parquet',
 'yellow_tripdata_2023-11.parquet',
 'yellow_tripdata_2021-08.parquet',
 'yellow_tripdata_2017-03.parquet',
 'yellow_tripdata_2019-08.parquet',
 'green_tripdata_2018-11.parquet',
 'green_tripdata_2018-03.parquet',
 'green_tripdata_2021-10.parquet',
 'yellow_tripdata_2022-11.parquet',
 'green_tripdata_2015-12.parquet',
 'green_tripdata_2016-01.parquet',
 'yellow_tripdata_2015-09.parquet',
 'yellow_tripdata_2015-12.parquet',
 'green_tripdata_2019-11.parquet',
 'yellow_tripdata_2016-09.parquet',
 'green_tripdata_2023-03.parquet',
 'green_tripdata_2015-04.parquet',
 'yellow_tripdata_2024-01.parquet',
 'green_tripdata_2021-06.parquet',
 'yellow_tripdata_2015-06.parquet',
 'green_tripdata_2021-12.parquet',
 'green_tripdata_2020-10.parquet',
 'yellow_tripdata_2018-02.parquet',
 'green_tripdata_2015-08.parquet',
 'green_tripdata_2024-02.parquet',
 'green_tripdata_2020-11.parquet',
 'green_tripdata_2022-08.parquet',
 'yellow_tripdata_2018-11.parquet',
 'green_tripdata_2023-08.parquet',
 'green_tripdata_2015-01.parquet',
 'yellow_tripdata_2017-09.parquet',
 'yellow_tripdata_2016-04.parquet',
 'yellow_tripdata_2020-06.parquet',
 'green_tripdata_2018-06.parquet',
 'yellow_tripdata_2018-04.parquet',
 'yellow_tripdata_2024-02.parquet',
 'yellow_tripdata_2021-02.parquet',
 'yellow_tripdata_2018-05.parquet',
 'yellow_tripdata_2015-04.parquet',
 'yellow_tripdata_2020-03.parquet',
 'green_tripdata_2023-10.parquet',
 'yellow_tripdata_2019-11.parquet',
 'yellow_tripdata_2015-03.parquet',
 'yellow_tripdata_2021-05.parquet',
 'yellow_tripdata_2024-06.parquet',
 'yellow_tripdata_2023-12.parquet',
 'yellow_tripdata_2017-10.parquet',
 'yellow_tripdata_2023-04.parquet',
 'green_tripdata_2024-04.parquet',
 'yellow_tripdata_2019-05.parquet',
 'yellow_tripdata_2020-12.parquet',
 'yellow_tripdata_2021-10.parquet',
 'yellow_tripdata_2018-12.parquet',
 'yellow_tripdata_2016-07.parquet',
 'green_tripdata_2020-02.parquet',
 'green_tripdata_2015-02.parquet',
 'green_tripdata_2022-11.parquet',
 'green_tripdata_2015-03.parquet',
 'yellow_tripdata_2021-03.parquet',
 'green_tripdata_2018-12.parquet',
 'green_tripdata_2017-02.parquet',
 'yellow_tripdata_2021-06.parquet',
 'green_tripdata_2024-01.parquet',
 'green_tripdata_2019-04.parquet',
 'yellow_tripdata_2017-12.parquet',
 'yellow_tripdata_2017-02.parquet',
 'green_tripdata_2017-06.parquet',
 'yellow_tripdata_2022-03.parquet',
 'yellow_tripdata_2020-09.parquet',
 'green_tripdata_2017-12.parquet',
 'yellow_tripdata_2020-08.parquet',
 'green_tripdata_2020-09.parquet',
 'yellow_tripdata_2022-09.parquet']